[Unit]
Description=Elibrary
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=postgres
ExecStart=/usr/bin/java -jar /artifact/elibrary-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target

